# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated/plugin files
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Local env/secrets
.env
